.slide {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: #fff;
    padding: 100px;
    background-color: black;
    font-family: 'Helvetica Neue';
    font-size: 1.5em;

    overflow: scroll;
}

.slide.active{ display: flex; }
.slide:nth-child(1) article { max-width: 400px }

.theme-red { background-color: tomato; }

.theme-wait p{ opacity: .2; }

.index-0{
    justify-content:left;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('content/flock-1599.jpg');
    background-size: cover;
    color: rgb(254, 247, 40);
}

.bank .name{
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-weight: bold;
    display: inline-block;
    width: auto;
}

.bank:hover .remove {
    opacity: 1;
}

.bank input[type="radio"],
.bank input[type="checkbox"]{
    opacity: 0;
    width: 0;
}

.bank input[type="radio"]:checked + label,
.bank input[type="checkbox"]:checked + label {
    color: red;
}

.bank form:focus-within {
   outline: 1px solid #fff;
}

.passed {
    color: red;
}