.slide {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: #fff;
    padding: 100px;
    background-color: black;
    font-family: 'Helvetica Neue';
    font-size: 2em;

    overflow: scroll;
}

.slide.active{ display: flex; }
.slide:nth-child(1) article { max-width: 400px }

.theme-red { background-color: tomato; }

.theme-wait p{ opacity: .2; }

.index-0{
    justify-content:left;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('content/flock-1599.jpg');
    background-size: cover;
    color: rgb(254, 247, 40);
}